<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap.css" rel="stylesheet">

  <script src="https://cdn.tiny.cloud/1/q4lx9y5uicq21mxsx3kudv7oh2ox8xt3dhdinn9x1e034mgo/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>

  <script>
    tinymce.init({
      selector: '#mytextarea',
      plugins: [
        'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
        'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
        'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
      ],
      toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
        'alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
    });
  </script>

</head>

<body>
  <h1>Text Editor</h1>
  <h3>Welcome, <%=user.username%>
  </h3>

  <div class="container">
    <form method="post" action="/write">

      <div class="form-group">
        <label>User Name</label>
        <input type="text" class="form-control" name="userName" aria-describedby="emailHelp" value="<%=user.username%>"
          disabled>
        <small id="emailHelp" class="form-text text-muted">This name will show with blogs</small>
      </div>

      <input type="hidden" name="userId" id="" value="<%= user._id %>">

      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="title">
      </div>

      <div class="form-group">
        <label for="exampletitle">Body</label>
        <textarea id="mytextarea" name="body">Hello, World!</textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</body>

</html>