/* ========== universel sleecter ============= */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    scroll-snap-stop: always;
    -webkit-tap-highlight-color: transparent;
}
:root{
    --blk:#000000;
    --wht:#ffffff;
    
}

.noscroll {
    overflow: hidden;
}
.day-font{
    font-family: 'Days One', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* ================= fonts =============== */


/* ============= normal user clases ================= */

.w-100{
    width: 100%;
}

.r-flex{
    display: flex;
    flex-direction: row;
}

.c-flex{
    display: flex;
    flex-direction: column;
}
.flex-w{
    flex-wrap: wrap;
}
.wh-no {
    white-space: nowrap;
}
/* =============== justify content ============ */
.jut-c{
    justify-content: center;
}

.jut-sb{
    justify-content: space-between;
}

.jut-se{
    justify-content: space-evenly;
}

.jut-sa{
    justify-content: space-around;
}


.check{
    display: none;
    transition: all 0.5s ease-in;
    transition-delay: 5s;
    position: fixed;
    top: -100%;
    transition: all 0.5s ease-in-out;
    transform: scale(0);
}


/* =================== containers ================ */
.container{
    max-width: 1340px;
    width: 100%;
    margin: auto;
    padding: 0px 20px;
}
.heading_under_lines{
    width: 100%;
    height: 5px;
    background-color: #979797;
    display: flex;
    position: relative;
    border-radius: 5px;
    margin: 10px 0px ;

}
.heading_under_lines::after{
    content: "";
    width: 100%;
    max-width: 200px;
    background-color: var(--blk);
    left: 0;
    top: 0;
    border-radius: 5px;

}
.heading_under_lines_min{
    width: 100%;
    height: 5px;
    background-color: #979797;
    display: flex;
    position: relative;
    border-radius: 5px;
    margin: 10px 0px ;

}
.heading_under_lines_min::after{
    content: "";
    width: 100%;
    max-width: 100px;
    background-color: var(--blk);
    left: 0;
    top: 0;
    border-radius: 5px;

}


@media (max-width:500px){
    .container{
        padding: 0px 10px;
    }
  
}

.hiedde-cont{
    display: none;
}
.show_content{
    display: block;
    /* height: 100vh; */
    overflow: auto;
}
.show_content::-webkit-scrollbar{
    display:none;
}
.noscroll {
    overflow: hidden;
}
.day-font{
    font-family: 'Days One', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* ================= fonts =============== */


/* ============= normal user clases ================= */

.w-100{
    width: 100%;
}

.r-flex{
    display: flex;
    flex-direction: row;
}

.c-flex{
    display: flex;
    flex-direction: column;
}
.flex-w{
    flex-wrap: wrap;
}
.wh-no {
    white-space: nowrap;
}
/* =============== justify content ============ */
.jut-c{
    justify-content: center;
}

.jut-sb{
    justify-content: space-between;
}

.jut-se{
    justify-content: space-evenly;
}

.jut-sa{
    justify-content: space-around;
}


/* =============== alinge item ============ */
.ali-c{
    align-items: center;
}

.ali-fs{
    align-items: flex-start;
}

.ali-fe{
    align-items:flex-end;
}

.ali-s{
    align-items:stretch;
}

.ali-unset{
    align-items:unset;
}


/* =================== containers ================ */
.container{
    max-width: 1340px;
    width: 100%;
    margin: auto;
    padding: 0px 20px;
}
.breadcrumbs{
    color: var(--lite-gry);
}
.breadcrumbs > a {
    color: var(--lite-font);
}

@media (max-width:500px){
    .container{
        padding: 0px 10px;
    }
    .breadcrumbs > a{
        font-size: 14px;
    }
    .breadcrumbs > span {
        font-size: 14px;
    }
}

/* =================== fonts sizes =============== */
h1{
    font-size: 35px;
}

h2{
    font-size: 26px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 16px;
}

p{
    font-size: 15px;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

