/* ============ hero section ======== */
.bloge_herosection{
    padding: 70px 0px ;
    /* border-top: 1px dashed #dadada;
    margin-top: 40px; */
}
/* ====== right ====== */
.blog_hero_container{
    gap: 30px;
}
.left_hero_blog{
    width: 100%;
    max-width: 65%;
}
.breadcrumb_box{
    gap: 10px;
    font-size: 14px;
    padding: 10px 0px;
    color: #676767;
}
.breadcrumb_box a{
    color: #676767;
}
.blog_hero_category{
    margin-top: 10px;
}
.blog_hero_category a{
    color: #ffffff;
    background-color: #47a6c4;
    padding: 2px 10px;
    font-size: 15px;
    border-radius: 3px;
}
.main_blog_heading h1{
    font-size: 40px;
    margin-top: 20px;
}

.publish_time_name_view{
    color: #676767;
    gap: 10px;
    padding: 10px 0px;
    font-size: 14px;
}
.publish_time_name_view a{
    font-size: 12px;
    color: #676767;
}
.hero_blog_view{
    gap: 4px;
}
.blog_sharing_box{
    margin-top: 20px;
    gap: 10px;
}
.hero_sharing_facebook{
    padding: 12px 18px;
    background-color: #1753ac;
    border-radius: 3px;
    gap: 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}
.hero_sharing_twitter{
    gap: 10px;
    background-color: #42c2c2;
    color: #ffffff;
    font-size: 15px;
    border-radius: 3px;
    font-weight: 600;
    padding: 12px 18px;
}
.hero_sharing_google{
    background-color: #f14f44;
    padding: 12px;
    border-radius: 3px;
}
.blog_main_cont_box{
    margin: 50px 0px;
}
.blog_main_cont_box img{
    width: 100%;
}
.ads_box_space{
    width: 100%;
    height: 850px;
    display: none;
}
.blog_main_cont_box p{
    color: #181818;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    margin: 15px 0px;
}
.blog_main_cont_box h2{
    font-size: 22px;
    line-height: 28px;
    margin: 20px 0px 10px 0px;
}
.blog_main_cont_box ul{
    margin-left: 30px;
    margin-top: 30px;
}
.blog_cont_list{
    padding: 5px 0px;
    gap: 10px;
    color: #303030;
}
.blog_cont_tag{
    gap: 15px;
}
.blog_cont_tag span{
    color: #ffffff;
    background-color: #47a6c4;
    padding: 3px 15px;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 2px;
    font-size: 14px;
}
.blog_cont_tag_list{
    letter-spacing: 1.7px;
    font-size: 14px;
    color: #676767;
    text-transform: uppercase;
}
.ads_barner_box{
    margin: 50px 0px;
    width: 100%;
    height: 100%;
    min-height: 90px;
    max-height: 90px;
    overflow: hidden;
}
.ads_barner_box img{
    width: 100%;
}




/* ======== blog next and prev ====== */

.perv_and_next_post{
    gap: 30px;
    padding: 30px 10px;
    border: 1px dashed #676767;
}
.blog_perv_box,
.blog_next_box{
    width: 100%;
    max-width: 360px;
    gap: 10px;
    text-transform: uppercase;
}
.blog_next_box{
    flex-direction: row-reverse;
}
.right_prev_box{
    width: 100%;
    max-width: 85px;
}
.right_prev_box img{
    width: 100%;
}
.left_prev_box{
    width: 100%;
    max-width: 250px;
}
.blog_prve_head{
    font-size: 15px;
    font-weight: 700;
    text-align: end;
    line-height: 24px;
}
.blog_next_head{
    font-size: 15px;
    font-weight: 700;
    text-align: start;
    line-height: 24px;
}
.vlog_perv_btn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 10px;
    color: #3b3b3b;
    margin-top: 5px;
    letter-spacing: 1.5px;
}
.vlog_next_btn{
    justify-content: flex-start;
    font-size: 10px;
    color: #3b3b3b;
    margin-top: 5px;
    letter-spacing: 1.5px;
}
.blog_author_container{
    margin: 50px 0px;
}
.blog_author_box{
    gap: 20px;
    padding: 30px 20px;
    border: 1px dashed #676767;
}
.about_author_text{
    font-size: 18px;
    font-weight: 700;
    padding: 5px 20px;
    background-color: #dfdfdf;
    width: fit-content;
    position: relative;
    margin-bottom: -15px;
    margin-left: 35px;
}
.blog_author_pi{
    width: 100%;
    max-width: 100px;
    padding: 20px;
    border-radius: 100px;
    border: 1px dashed #747474;
    height: fit-content;
}
.blog_author_pi img{
    width: 100%;
}
.blog_author_name{
    font-size: 18px;
    font-weight: 600;
}
.blog_author_details{
    margin: 18px 0px;
    font-size: 15px;
    line-height: 22px;
    color: #303030;
}
.blog_author_socile_media{
    gap: 12px;
}
.blog_author_socile_media a{
    width: 18px;
}
.blog_author_socile_media a svg{
    width: 100%;
}


/* ======== also blog ========== */
.blog_also_box{
    padding: 50px 30px;
    border: 1px dashed #676767;
    gap: 30px;
}
.blog_also_head{
    font-size: 18px;
    font-weight: 600;
    padding: 5px 20px;
    background-color: #d3d3d3;
    width: fit-content;
    margin-left: 50px;
    margin-bottom: -15px;
    position: relative;
}
.blog_also_blog{
    max-width: 390px;
    width: 100%;
}
.blog_also_blog img {
    width: 100%;
}
.blog_also_blog_heading{
    font-size: 20px;
    font-weight: 700;
    padding: 12px 0px;
}
.alos_publice_blog{
    color: #676767;
    gap: 12px;
    text-transform: uppercase;
}
.alos_publice_blog a{
    color: #676767;
    font-size: 10px;
}


/* =========== comments ============ */
.comments__show_container{
    margin: 50px 0px;
}
.comment_show_boder_head{
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    margin-bottom: -15px;
    margin-left: 50px;
    background-color: #d3d3d3;
    width: fit-content;
}
.comments_show_box{
    padding: 50px;
    border: 1px dashed #676767;
    gap: 50px;
}
.comment_user_img{
    width: 100%;
    max-width: 80px;
    border-radius: 100px;
    height: fit-content;
    overflow: hidden;
}
.comments_show_cmt{
    gap: 30px;
}
.comment_user_img img {
    width: 100%;
    border-radius: 100px;
}
.comments_show_name_and_time{
    gap: 14px;
    margin-bottom: 2px;
}
.comment_show_name{
    font: 18px;
    font-weight: 600;
}
.comment_show_time{
    font-size: 13px;
    color: #676767;
}
.comment_show_main_cont{
    font-size: 15px;
    color: #3b3b3b;
    line-height: 20px;
    padding: 15px 0px;
}
.comment_cont_reply{
    font-size: 12px;
    color: #ffffff;
    padding: 4px 10px;
    border: none;
    outline: none;
    background-color: #000000;
}

.comments_form_box{
    padding: 50px;
    width: 100%;
    border: 1px dashed #747474;
}
.blog_reply_border_head{
    font-size: 18px;
    font-weight: 600;
    padding: 5px 20px;
    background-color: #d3d3d3;
    margin-bottom: -15px;
    margin-left: 50px;
    position: relative;
    width: fit-content;
}
.comments_form_box input,
.comments_form_box textarea{
    width: 100%;
    border: 1px dashed #676767;
    padding: 14px;
    margin: 10px 0px;
    outline: none;
    font-size: 15px;
}
.comments_form_box input::placeholder,
.comments_form_box textarea::placeholder{
    color: #676767;
}
.blog_comment_btn{
    color: #ffffff;
    padding: 13px 35px;
    background-color: #000000;
    font-size: 15px;
    border: none;
    outline: none;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}




/* ========= right ========== */

.right_hero_blog{
    width: 100%;
    max-width: 380px;
}
.blog_search_head{
    font-size: 18px;
    font-weight: 700;
}
.blog_search_box{
    margin-top: 20px;
}
.blog_search_box input{
    padding: 12px;
    border: 1px solid #dfdfdf;
    outline: none;
    width: 100%;
}
.blog_search_box button{
    padding: 11px;
    background-color: #47a6c4;
    cursor: pointer;
    border: none;
    outline: none;
}

/* ========= right recent post ======== */
.bolg_right_recent_post_container{
    margin-top: 50px;
}
.main_hading_right_recent_post{
    font-size: 18px;
    font-weight: 600;
}
.recent_right_blog_box{
    gap: 10px;
    margin-top: 20px;
}
.recent_rght_blog_post_img{
    width: 100%;
    max-width: 60px;
}
.recent_rght_blog_post_img img {
    width: 100%;
}
.recent_blog_box_heading{
    font-size: 15px;
    font-weight: 600;
}
.recent_right_blog_post_time{
    font-size: 10px;
    margin-top: 5px;
}


/* ======== right ========= */
.ads_right_blog_side{
    margin-top: 50px;
}
.ads_main_head_blog{
    font-size: 18px;
    font-weight: 600;
}
.ads_img_box_right_blog{
    width: 100%;
    margin-top: 30px;
    border: 3px solid #d3d3d3;
    padding: 4px;
}
.ads_img_box_right_blog img{
    width: 100%;
}


/* ========== populer categ ====== */
.populer_categ_container{
    margin-top: 50px;
}
.main_right_popu_categ_head{
    font-size: 18px;
    font-weight: 600;
}
.right_blog_categ_box{
    margin-top: 20px;
}
.right_blog_categ_box a{
    padding: 10px 0px;
    font-size: 15px;
    color: #676767;
    border-bottom: 1px dashed #747474;
}


@media (max-width:850px){
    .blog_hero_container{
        flex-direction: column;
        gap: 60px;
    }
    .left_hero_blog{
        max-width: 100%;
        margin-top: 50px;
    }
    .right_hero_blog{
        max-width: 100%;
    }
    .right_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    .blog_right_search_box,
    .bolg_right_recent_post_container,
    .ads_right_blog_side,
    .populer_categ_container{
        max-width: 300px;
        width: 100%;
    }
    .ads_box_space{
        display: block;
    }
    .ads_right_blog_side{
        position: absolute;
        top: 950px;
        right: 0px;
        padding: 0px 10px;
        background-color: #ffffff;
    }
}

@media (max-width: 670px){
    .bloge_herosection{
        padding: 30px 0px;
    }
    .blog_right_search_box,
    .bolg_right_recent_post_container,
    .ads_right_blog_side,
    .populer_categ_container{
        max-width: 100%;
        width: 100%;
    }
    .blog_sharing_box{
        flex-wrap: wrap;
    }
    .hero_sharing_facebook,
    .hero_sharing_twitter{
        font-size: 12px;
        padding: 8px 15px;
        gap: 7px;
    }
    .hero_sharing_facebook svg,
    .hero_sharing_twitter svg{
        width: 16px;
        height: fit-content;
    }
    .hero_sharing_google{
        padding: 10px;
    }
    .hero_sharing_google svg{
        width: 16px;
        height: fit-content;
    }
    .breadcrumb_box{
        font-size: 12px;
    }
    .breadcrumb_box a{
        font-size: 12px;
    }
    .blog_hero_category a{
        font-size: 13px;
    }
    .main_blog_heading h1{
        font-size: 22px;
    }
    .blog_main_cont_box h2{
        font-size: 18px;
        line-height: 25px;
        margin: 15px 0px 8px 0px;
    }
    .publish_time_name_view a{
        font-size: 10px;
    }
    .blog_main_cont_box p{
        font-size: 14px;
        margin: 12px 0px;
    }
    .blog_cont_list{
        font-size: 13px;
    }
    .blog_cont_list svg{
        width: 5px;
        height: fit-content;
    }
    .blog_main_cont_box ul{
        margin: 15px 0px 0px 10px;
    }
    .blog_cont_tag{
        flex-wrap: wrap;
        gap: 10px;
        margin: 24px 0px;
    }
    .blog_cont_tag_list{
        font-size: 10px;
    }
    .perv_and_next_post{
        flex-direction: column;
    }
    .blog_author_box{
        flex-direction: column;
    }
    .blog_author_details{
        margin: 5px 0px 15px 0px;
        font-size: 13px;
    }
    .blog_also_box{
        flex-direction: column;
        gap: 40px;
    }
    .blog_also_blog_heading{
        padding: 5px 0px;
    }
    .comments_show_box{
        padding: 25px;
    }
    .comments_show_cmt{
        flex-direction: column;
        gap: 8px;
    }
    .comment_show_main_cont{
        padding: 5px 0px 10px 0px;
        font-size: 13px;
    }
    .comments_form_box{
        padding: 25px;
    }
    .comments_form_box input, .comments_form_box textarea{
        padding: 10px;
    }
    .blog_comment_btn{
        padding: 10px 25px;
        font-size: 14px;
    }
    .blog_search_box{
        position: absolute;
        top: 70px;
        width: 100%;
        left: 0;
        right: 30px;
        padding: 0px 20px;
    }
    .blog_search_box input{
        width: 100%;
    }
}