

/* ======= navigation bar ====== */
header{
    padding: 14px 0px;
}
.nav_logo_box{
    /* font-size: 30px;
    font-weight: 600; */
    width: 100%;
    max-width: 80px;
    display: flex;
}
.nav_logo_box img {
    width: 100%;
}
.nav_megha_manu{
    display: none;
    left: -25px;
    position: absolute;
    padding: 15px;
    box-shadow: -1px 1px 5px #00000028;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    top: 40px;
    z-index: 18;
    background-color: var(--wht);
}
.nav_manu_link{
    color: var(--blk);
    /* padding: 11px 7px; */
    transition: all 0.2s ease-in-out;
} 
.nav_manu_link span svg {
    transition: all 0.2s ease-in-out;

}
.nav_manu_points{
    padding: 12px 17px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.nav_manu_points:hover  .nav_megha_manu{
    transition: all 0.2s ease-in-out;
    display: block;
}
.nav_manu_points:hover .nav_manu_link span svg {
    transform: rotate(-180deg);
}
.nav_megha_manu_points{
    padding: 2px 6px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.nav_megha_menu_point {
    padding: 7px 16px;
    color: var(--blk);
    display: flex;
}
.nav_megha_manu_points:hover{
    background-color: #e7e7e7;
    
}

.write_nav_btn{
    background-color: var(--blk);
    color: var(--wht);
    padding: 9px 14px; 
    border-radius: 5px;
    gap: 8px;
}
.nav_drop_menu{
    gap: 5px;
}

@media (max-width: 920px){
    .manu_box{
        display: none;
    }
    .nav_logo_box{
        max-width: 60px;
    }
    .nav_manu_points:hover  .nav_megha_manu{
        transition: all 0.2s ease-in-out;
        display: block;
        position: relative;
        top: 3px;
    }
    .nav_megha_manu{
        left: 0px;
        padding: 0px;
        border-left: 1px solid #000000;
        box-shadow: none;
        border-radius: 0;
    }
}