.sign_up_hero_section{
    
}
.sign_up_hero_container{
    width: 100%;
    /* background: linear-gradient(90deg, rgb(0, 0, 0) 40%, rgba(244,244,244,1) 40%); */
    background-color: #ffffff;
    height: 100vh;
    background: url(images/sign_in_up.svg);
    background-repeat: no-repeat;
    background-size: auto;
}
.sign_up_hero_box{
    width: 100%;
}
.sign_up_left_box{
    width: 100%;
    max-width: 600px;
    position: absolute;
    right: 0px;
    background-color: #f1f1f1;
    height: 100%;
    top: 100px;
}
.sing_up_form_box{
    width: 100%;
    max-width: 400px;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: -13px 13px 5px #adadad;
}
.sing_up_form_box input{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin: 10px 0px;
    border: 1px solid #d3d3d3;
    border-radius: 7px;
    
}
.show_passwed_box{
    justify-content: start;
    width: 100%;
    gap: 7px;
}
.show_passwed_box input{
    width: fit-content;
    cursor: pointer;
}
.show_passwed_box label{
    cursor: pointer;
}
.sing_up_form_box button{
    padding: 12px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    margin: 10px 0px;
    border: 1px solid #000000;

}   
.sing_up_data_submit_btn{
    background-color: #0c0c0c;
    color: #ffffff;
    margin-top: 18px;
}
.sing_up_data_submit_btn:hover{
    background-color: #000000;
}
.google_sign_up_btn{
    gap: 7px;
    color: #2e2e2e;
    background-color: #f0f0f0;
}
.google_sign_up_btn:hover{
    background-color: #ffffff;
}
.have_ac{
    font-size: 15px;
    font-weight: 600;
    color: #6d6d6d;
    margin-top: 12px;
}
.have_ac a {
    color: #002280;
    font-size: 16px;
}

@media (max-width: 520px){
    .sing_up_form_box{
        /* margin-top: -150px; */
    }
    .sign_up_left_box{
        top: auto;
        max-width: 350px;
        right: auto;
        margin: auto;
        position: relative;
        padding: 15px;
    }
    .sign_up_hero_container{
        height: 100%;
    }
}